.wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px;
    width: 450px;
}
h2 {
    margin: 15px;
}
a {
    float: right;
}
.row {
    font-weight: bold;
    text-align: center;
}
td {
    padding: 10px;
}
.buttons {
    width: 400px;
    display: flex;
}
.btn:first-of-type{
    background:    #6fa8dc;
    background:    -webkit-linear-gradient(#6fa8dc, #444444);
    background:    linear-gradient(#6fa8dc, #444444);
    border-radius: 5px;
    width:         125px;
    height:        32px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 16px/32px "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   none;
    margin: 5px;
}
.btn:last-of-type {
    background:    #b6d7a8;
    background:    -webkit-linear-gradient(#b6d7a8, #444444);
    background:    linear-gradient(#b6d7a8, #444444);
    border-radius: 5px;
    width:         125px;
    height:        32px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 16px/32px "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   none;
    border-style: none;
    margin: 5px;
}
