<div class="wrapper">
  <h3>Edit this pet</h3>
  <div class="errors" *ngIf="petname.invalid && petname.touched">Name of pet is required and must be between 3 and 255 characters</div>
  <div class="errors" *ngIf="pettype.invalid && pettype.touched">Type of pet is required and must be between 3 and 255 characters</div>
  <div class="errors" *ngIf="petdesc.invalid && petdesc.touched">Description of pet is required and must be between 3 and 255 characters</div>
  <div class="errors" *ngIf="petskills1.invalid">Skill #1 should be entered in order and must be between 3 and 255 characters</div>  
  <div class="errors" *ngIf="petskills2.invalid">Skill #2 should be entered in order and must be between 3 and 255 characters</div>  
  <div class="errors" *ngIf="petskills3.invalid">Skills #3 should be entered in order and must be between 3 and 255 characters</div>  
  <div class="errors" *ngIf="errors">This pet is incomplete, please try again</div>
  <div class="errors" *ngIf="nodups">{{nodups}}</div>
  <form (submit)="edit()" class="form-group"> 
    <p>Pet Name: </p> 
    <input type="text" name="name" [(ngModel)]="editPet.name" required minlength="3" maxlength="255" #petname="ngModel" value="editPet.name">
    <p>Pet Type: </p> 
    <input type="text" name="type" [(ngModel)]="editPet.type" required minlength="3" maxlength="255" #pettype="ngModel" value="editPet.type">
    <p>Description: </p> 
    <input type="text" name="desc" [(ngModel)]="editPet.desc" required minlength="3" maxlength="255" #petdesc="ngModel" value="editPet.desc">
    <p>Skills: </p> 
      <div class="skills">
        <p>Skill 1: <input type="text" name="skills[0]" [(ngModel)]="editPet.skills[0]" minlength="3" maxlength="255" #petskills1="ngModel" value="editPet.skills[0]"></p>
        <p>Skill 2: <input type="text" name="skills[1]" [(ngModel)]="editPet.skills[1]" minlength="3" maxlength="255" #petskills2="ngModel" value="editPet.skills[1]"></p>
        <p>Skill 3: <input type="text" name="skills[2]" [(ngModel)]="editPet.skills[2]" minlength="3" maxlength="255" #petskills3="ngModel" value="editPet.skills[2]"></p>      
      </div>
    <p><input type="submit" value="Edit pet" class="btn">
    <a href="/" class="btn">Cancel</a></p>
    </form>
</div>